.bg-blue,.btn-blue{
    background-color: #02122c;
}
.bg-grey{
    background-color: #dddde5;
   
}
.fs-8{
    font-size: 12px;
}
.btn-grey{
    background-color: #dddde5;
}
.flightimg{
    background-image: url('./assetts/hero-flight-img.jpg');
   background-position: center;
   background-size: cover;
}
.btn-green{
    background-color: #00a698;
}
.form-control::placeholder{
    font-size: 12px;
}
.bg-small-blue{
background-color: #042759;
}
.text-orange{
    color: #ff7b59;
}
